.card {
    flex: 1 1 var( --product-card-min-width);
    max-width: var(--product-card-max-width);
    border-radius: var(--radius-base);
    overflow: hidden;
    background: var(--color-bg-main);
    cursor: pointer;
    transition: var(--transition-time-base);
}

.card:hover {
    transform: var(--transform-scale-low);
}

.image {
    max-width: var(--product-card-max-width);
    max-height: var(--product-card-max-width);
    min-width: var(--product-card-min-width);
    min-height: var(--product-card-min-width);

    overflow: hidden;

}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition-time-base);
}
.card:hover img {
    transform: var(--transform-scale);
}


.info {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-xs);
}
.info div{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.info h3 {
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-xs);
}

.info p {
    margin-bottom: var(--spacing-xs);
    font-weight: bold;
}
