.section_title {
    text-align: start;
    margin: var(--spacing-xl);
}

.section_title h2 {
    color: var(--color-text-black);
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-base);
}

.section_title p {
    color: var( --color-text-primary);
    font-size: var( --font-size-base);
}
